header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: rgb(42, 42, 42);
}

header a {
  color: inherit;
  text-decoration: none;
}

.header__logo i {
  color: red;
}

.header__art-btn {
  width: 30px;
  display: flex;
  justify-content: space-between;
}
