.side-playlist-bar {
  margin-top: 20px;
  width: 45%;
}

.side-playlist-bar__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.side-playlist__contents {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-playlist__title {
  font-size: 15px;
  margin-bottom: 5px;
}

.side-playlist__user-name {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.side-playlist__veiw-count {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
